doctype html
html
  head
    title twitter.codeforcode.com
    link(rel='stylesheet', href='styles/style.css')
    link(rel='stylesheet', href='leaflet/dist/leaflet.css')
    script(src='jquery/dist/jquery.min.js')
    script(src='leaflet/dist/leaflet.js')
    script(src='index.js')
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
