doctype html
html
  head
    title twitter.codeforcode.com
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='styles/style.css')
    link(rel='stylesheet', href='leaflet/dist/leaflet.css')
    script(src='jquery/dist/jquery.min.js')
    script(src='leaflet/dist/leaflet.js')
  body
    #map
    #title Puska-puuman valvontakeskus
    script(src='index.js')
